.input-box {
  display: block;
  position: absolute;
  margin: 0;
  background-color: transparent;
  overflow: auto;
  resize: none;
	width: 500px;
	height: 250px;
  border: none;
  text-align: left;
  padding: 10px;
  letter-spacing: 1px;
}