.highlight-box-overlay {
	display: block;
	margin: 0 auto;
	width: 500px;
	height: 250px;
	font-family: monospace;
	text-align: left;
	color: transparent;
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	.backdrop{
		width: 500px;
		height: 250px;
		position: absolute;
		overflow: auto;
		color: transparent;
	}

	.highlights {
		padding: 10px;
		letter-spacing: 1px;
		white-space: pre-wrap;
		word-wrap: break-word;
		color: transparent;
	}
	
	mark {
		color: transparent;
	}
}